
<div class="jumbotron" style="background-color: #eee;">
  <h1 class="display-3">MEAN Stack Auth Application</h1>
  <p class="lead">Welcome to custom authentication application built in MEAN Stack</p>
  <hr class="my-4">
  <p>Get yourself register by clicking the button bellow.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink] = "['/register']" role="button">Register</a>
    <a class="btn btn-outline-primary btn-lg" [routerLink] = "['/login']" role="button">Login</a>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
      <div class="card bg-primary text-white mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Express Backend</h4>
          <p class="card-text">A rock solid Node.js/Express server using Mongoose to organize models and query the databas</p>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card bg-primary text-white mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Angular CLI</h4>
          <p class="card-text">Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card bg-primary text-white mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">JWT Tokens</h4>
          <p class="card-text">Full featured authentication using JSON web tokens. Login and store user data</p>
        </div>
      </div>
  </div>
</div>
